@import "src/styles";

table {
    thead {
        tr {
            th {
                // background-color: $primary_color;
                color: #ffffff;
                cursor: pointer;
            }

            .add_button {
                button {
                    background-color: $primary_color;
                }
            }
        }
    }
}
