<div class="col">
    <div class=" justify-content-end pagination d-flex justify-content-end p-2 gap-2 align-items-center">
        <div>
            <select id="per_page" [(ngModel)]="item_per_page" (ngModelChange)="get_table_content()"
                class="form-control">
                <option [value]="10">10</option>
                <option [value]="25">25</option>
                <option [value]="50">50</option>
            </select>
        </div>
        <div>per page</div>
        <div>|</div>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn  p-2" (click)="get_prevent_page()">
                <i class="bi bi-chevron-left"></i>
            </button>
            <button type="button" class="btn p-2 border-0" disabled>
                <div class="pagination_details d-flex flex-nowrap gap-2">
                    <span>{{page}}</span>
                    <span>of</span>
                    <span>{{total_pages}}</span>
                </div>
            </button>
            <button type="button" class="btn  p-2" (click)="get_next_page()">
                <i class="bi bi-chevron-right"></i>
            </button>
        </div>
    </div>
    <div class="row">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" *ngFor="let table_column of table_columns"
                        (click)="change_order(table_column.DataName)" class="bg-success">
                        <div class="w-100 d-flex justify-content-between">
                            <div class="col_name">{{table_column.ColumnName}}</div>
                            <div class="sort" *ngIf="order_col == table_column.DataName ? 'd-none' : ''">
                                <i class="bi bi-chevron-down" *ngIf="order_dir == 'asc'"></i>
                                <i class="bi bi-chevron-up" *ngIf="order_dir == 'desc'"></i>
                            </div>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td *ngFor="let table_column of table_columns">
                        <form [formGroup]="filters_form">
                            <div class="w-100" *ngIf="table_column.DataName !== 'ticketId'">
                                <!-- 'date' -->
                                <input *ngIf="table_column.DataName === 'date'" [id]="table_column.DataName" type="date"
                                    formControlName="{{ table_column.DataName }}" class="form-control"
                                    (ngModelChange)="get_table_content()" />

                                <!-- 'status' -->
                                <select *ngIf="table_column.DataName === 'status'" [id]="table_column.DataName"
                                    (ngModelChange)="get_table_content()" formControlName="{{ table_column.DataName }}"
                                    class="form-control">
                                    <option value="">All</option>
                                    <option value="Open">Open</option>
                                    <option value="Closed">Closed</option>
                                </select>

                                <!-- other fields -->
                                <input (ngModelChange)="get_table_content()"
                                    *ngIf="table_column.DataName !== 'status' && table_column.DataName !== 'date' && table_column.DataName !== 'actions'"
                                    [id]=" table_column.DataName" type="text"
                                    formControlName="{{ table_column.DataName }}" class="form-control" />
                            </div>
                        </form>
                    </td>
                </tr>
                <tr *ngFor="let row of table_content">
                    <td *ngFor="let table_column of table_columns">
                        <ng-container *ngIf="table_column.DataName === 'actions'; else normalCell">
                            <button *ngFor="let action of ['update','delete']"
                                (click)="performAction(action, row.ticketId)" class="btn btn-link mx-1">
                                {{ action | titlecase }}
                            </button>
                        </ng-container>

                        <ng-template #normalCell>
                            <ng-container *ngIf="table_column.DataName === 'date'; else regularContent">
                                {{ row[table_column.DataName] | date:'MMM-dd-yyyy' }}
                            </ng-container>

                            <ng-template #regularContent>
                                {{ row[table_column.DataName] }}
                            </ng-template>
                        </ng-template>
                    </td>
                </tr>
                <tr>
                    <td [attr.colspan]="table_columns.length">
                        <div class="add_button">
                            <button class="btn btn-success px-4 py-2" (click)="go_to_add_ticket()">Add New</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<app-toast [message]="toast_message"></app-toast>

<app-modal #modal [title]="confirmation_modal_title" [bodyContent]="confirmation_modal_body"
    (confirmed)="delete_ticket()"></app-modal>