<div class="col">
    <div class="row">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" *ngFor="let table_column of table_columns">
                        {{table_column.ColumnName}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of table_content">
                    <td *ngFor="let table_column of table_columns">
                        <ng-container *ngIf="table_column.DataName === 'actions'; else normalCell">
                            <button *ngFor="let action of row[table_column.DataName]"
                                (click)="performAction(action, row.ticket_id)" class="btn btn-link mx-1">
                                {{ action | titlecase }}
                            </button>
                        </ng-container>

                        <ng-template #normalCell>
                            <ng-container *ngIf="table_column.DataName === 'date'; else regularContent">
                                {{ row[table_column.DataName] | date:'MMM-dd-yyyy' }}
                            </ng-container>

                            <ng-template #regularContent>
                                {{ row[table_column.DataName] }}
                            </ng-template>
                        </ng-template>
                    </td>
                </tr>
                <tr>
                    <td [attr.colspan]="table_columns.length">
                        <div class="add_button">
                            <button class="btn btn-success px-4 py-2" (click)="go_to_add_ticket()">Add New</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>