# Ignore build outputs
bin/
obj/

# Ignore User-specific files
*.user
*.userosscache
*.suo
*.sln.docstates

# Ignore logs
*.log
*.tlog
*.vspscc
*.vssscc

# Ignore database files
*.mdf
*.ldf

# Ignore Visual Studio files
.vscode/
.vs/
.idea/

# Ignore Rider IDE files
.idea/
.idea_modules/

# Ignore npm package directories
front_app/node_modules/
front_app/dist/
front_app/tmp/
front_app/out-tsc/

# Ignore environment files
front_app/src/environments/environment*.ts

# Ignore generated code and compiled files
front_app/aot/
front_app/*.ngfactory.ts
front_app/*.ngsummary.json

# Ignore Angular build outputs
front_app/dist/
front_app/.angular/
front_app/.angular/cache/

# Ignore TypeScript compilation output
front_app/**/*.js
front_app/**/*.js.map

# Ignore coverage reports
front_app/coverage/

# Ignore macOS-specific files
.DS_Store

# Ignore Windows-specific files
Thumbs.db
desktop.ini

# Ignore build artifacts
artifacts/
