<div #modal class="modal fade" [ngClass]="show_modal ? 'show' : ''" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ title }}</h5>
                <button type="button" class="btn-close" aria-label="Close" (click)="hide()"></button>
            </div>
            <div class="modal-body">
                <p>{{ bodyContent }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="hide()">Cancel</button>
                <button type="button" class="btn btn-success" (click)="confirm()">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="bg_hider" [ngClass]="show_modal ? 'show' : ''" (click)="hide()"></div>